.conteudo-principal {
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 32px;
    padding: 32px 0;
}

.container {
    padding-top: 30px;
}

.campos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.formulario-lateral {
    background-color: #fff;
    width: 50%;
    border-radius: 8px;
    box-shadow: 8px 6px 4px -2px rgba(0, 0, 0, .3);
    padding: 12px;
}

form {
    text-align: center;
}

.btnEnviar {
    color: var(--cor-branco);
    background-color: var(--cor-segundaria);
    padding: 8px 18px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnEnviar:hover {
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 30%);
    transition: all 200ms;
}

form p {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: .8rem;
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 4px 2px  rgba(0, 0, 0, .3);
    color: #333;
    margin-right: 8px;
}

form textarea {
    width: 86%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: .8rem;
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 4px 2px  rgba(0, 0, 0, .3);
    color: #333;
}

.informacoes-uteis .itens p {
    font-size: .8rem;
    color: #333;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    margin-bottom: 8px;
}

.informacoes-uteis .itens img {
    width: 20px;
    height: 20px;
}

.mapa iframe {
    margin-top: 12px;
    border-radius: 8px;
    box-shadow: 4px 2px  rgba(0, 0, 0, .3);
}

@media (min-width: 250px) and (max-width: 880px) {
    .formulario-lateral {
        width: 100%;
    }

    .itens {
        margin-top: 30px;
    }

    .mapa iframe {
        width: 250px;
    }
}